.elementor-2106 .elementor-element.elementor-element-21b>.elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
}

.elementor-2106 .elementor-element.elementor-element-442a .mf-input {
    padding: 15px 25px 15px 25px;
    border-radius: 0px;
}

.elementor-2106 .elementor-element.elementor-element-442a .mf-input-file-upload-label {
    padding: 15px 25px 15px 25px;
}

.elementor-2106 .elementor-element.elementor-element-442a .mf-input-calculation-total {
    padding: 15px 25px 15px 25px;
}

.elementor-2106 .elementor-element.elementor-element-442a .mf_select__control, .elementor-2106 .elementor-element.elementor-element-442a .mf-input-select .mf_select__option, .elementor-2106 .elementor-element.elementor-element-442a .mf_multiselect__control .mf_multiselect__value-container, .elementor-2106 .elementor-element.elementor-element-442a .mf_multiselect__option, .elementor-2106 .elementor-element.elementor-element-442a .mf_multiselect__menu-notice--no-options {
    padding: 15px 25px 15px 25px;
}

.elementor-2106 .elementor-element.elementor-element-442a .mf-input-wrapper .range-slider {
    padding: 15px 25px 15px 25px;
}

.elementor-2106 .elementor-element.elementor-element-442a .mf-input, .elementor-2106 .elementor-element.elementor-element-442a .elementor-2106 .elementor-element.elementor-element-442a .mf-input-wrapper .iti--separate-dial-code .iti__selected-flag, .elementor-2106 .elementor-element.elementor-element-442a .mf-input-wrapper .iti--separate-dial-code .iti__selected-dial-code {
    color: #101010;
}

.elementor-2106 .elementor-element.elementor-element-442a .irs--round .irs-bar, .elementor-2106 .elementor-element.elementor-element-442a .irs--round .irs-from, .elementor-2106 .elementor-element.elementor-element-442a .irs--round .irs-to, .elementor-2106 .elementor-element.elementor-element-442a .irs--round .irs-single {
    background-color: #101010;
}

.elementor-2106 .elementor-element.elementor-element-442a .irs--round .irs-handle {
    border-color: #101010;
}

.elementor-2106 .elementor-element.elementor-element-442a .irs--round .irs-from:before, .elementor-2106 .elementor-element.elementor-element-442a .irs--round .irs-to:before, .elementor-2106 .elementor-element.elementor-element-442a .irs--round .irs-single:before {
    border-top-color: #101010;
}

.elementor-2106 .elementor-element.elementor-element-442a .mf_select__single-value {
    color: #101010;
}

.elementor-2106 .elementor-element.elementor-element-442a .mf-input-wrapper .input-range__slider {
    border-color: #101010;
}

.elementor-2106 .elementor-element.elementor-element-442a .mf-input-wrapper .input-range__track--active, .elementor-2106 .elementor-element.elementor-element-442a .mf-input-wrapper .input-range__label-container, .elementor-2106 .elementor-element.elementor-element-442a .mf-input-wrapper .input-range__label-container:before {
    background-color: #101010;
}

.elementor-2106 .elementor-element.elementor-element-442a .mf-input-wrapper .asRange .asRange-pointer .asRange-tip {
    background-color: #101010;
    border-color: #101010;
}

.elementor-2106 .elementor-element.elementor-element-442a .mf-input-file-upload-label, .elementor-2106 .elementor-element.elementor-element-442a .mf-input-calculation-total {
    color: #101010;
}

.elementor-2106 .elementor-element.elementor-element-442a .mf-input-file-upload-label svg path {
    stroke: #101010;
    fill: #101010;
}

.elementor-2106 .elementor-element.elementor-element-442a .mf-input-select .mf_select__option, .elementor-2106 .elementor-element.elementor-element-442a .mf_multiselect__multi-value__label, .elementor-2106 .elementor-element.elementor-element-442a .mf_multiselect__multi-value__remove, .elementor-2106 .elementor-element.elementor-element-442a .mf_multiselect__menu-notice--no-options {
    color: #101010;
}

.elementor-2106 .elementor-element.elementor-element-442a .mf-input, .elementor-2106 .elementor-element.elementor-element-442a .mf-input-file-upload-label, .elementor-2106 .elementor-element.elementor-element-442a .mf-input-wrapper .iti--separate-dial-code .iti__selected-flag, .elementor-2106 .elementor-element.elementor-element-442a .mf-input-calculation-total, .elementor-2106 .elementor-element.elementor-element-442a .mf-input-select .mf_select__option, .elementor-2106 .elementor-element.elementor-element-442a .mf_multiselect__multi-value__label, .elementor-2106 .elementor-element.elementor-element-442a .mf_multiselect__multi-value__remove, .elementor-2106 .elementor-element.elementor-element-442a .mf_multiselect__option, .elementor-2106 .elementor-element.elementor-element-442a .mf_multiselect__menu-notice--no-options, .elementor-2106 .elementor-element.elementor-element-442a .mf-input-multiselect .mf_multiselect__control {
    background-color: rgba(0, 0, 0, 0);
}

.elementor-2106 .elementor-element.elementor-element-442a .mf-input, .elementor-2106 .elementor-element.elementor-element-442a .mf-input-file-upload-label, .elementor-2106 .elementor-element.elementor-element-442a .mf-input-wrapper .iti--separate-dial-code .iti__selected-flag, .elementor-2106 .elementor-element.elementor-element-442a .mf-input-calculation-total, .elementor-2106 .elementor-element.elementor-element-442a .mf-input-select>.mf_select__control, .elementor-2106 .elementor-element.elementor-element-442a .mf-input-select .mf_select__option, .elementor-2106 .elementor-element.elementor-element-442a .mf-input-multiselect .mf_multiselect__control, .elementor-2106 .elementor-element.elementor-element-442a .mf_multiselect__option {
    border-style: solid;
    border-width: 2px 2px 2px 2px;
    border-color: rgba(200, 200, 200, 0.3);
}

.elementor-2106 .elementor-element.elementor-element-442a .mf-input:hover, .elementor-2106 .elementor-element.elementor-element-442a .mf-input-wrapper:hover .iti--separate-dial-code .iti__selected-flag, .elementor-2106 .elementor-element.elementor-element-442a .mf-input-wrapper:hover .iti--separate-dial-code .iti__selected-dial-code {
    color: #000000;
}

.elementor-2106 .elementor-element.elementor-element-442a .irs--round .irs-handle:hover {
    border-color: #000000;
}

.elementor-2106 .elementor-element.elementor-element-442a .mf-input-file-upload-label:hover {
    color: #000000;
}

.elementor-2106 .elementor-element.elementor-element-442a .mf-input:hover .mf_select__single-value {
    color: #000000;
}

.elementor-2106 .elementor-element.elementor-element-442a .mf-file-upload-container:hover .mf-input-file-upload-label svg path {
    stroke: #000000;
    fill: #000000;
}

.elementor-2106 .elementor-element.elementor-element-442a .mf-input-wrapper .input-range__slider:hover {
    border-color: #000000;
}

.elementor-2106 .elementor-element.elementor-element-442a .mf_select__menu-list .mf_select__option:hover, .elementor-2106 .elementor-element.elementor-element-442a .mf_multiselect__multi-value:hover .mf_multiselect__multi-value__label, .elementor-2106 .elementor-element.elementor-element-442a .mf_multiselect__multi-value:hover .mf_multiselect__multi-value__remove, .elementor-2106 .elementor-element.elementor-element-442a .mf_multiselect__menu-notice--no-options:hover {
    color: #000000;
}

.elementor-2106 .elementor-element.elementor-element-442a .mf-input:focus, .elementor-2106 .elementor-element.elementor-element-442a .mf-input-wrapper:focus .iti--separate-dial-code .iti__selected-flag, .elementor-2106 .elementor-element.elementor-element-442a .mf-input-wrapper:focus .iti--separate-dial-code .iti__selected-dial-code {
    color: #000000;
}

.elementor-2106 .elementor-element.elementor-element-442a .irs--round .irs-handle:focus {
    border-color: #000000;
}

.elementor-2106 .elementor-element.elementor-element-442a .mf-file-upload-container:focus .mf-input-file-upload-label, .elementor-2106 .elementor-element.elementor-element-442a .mf-file-upload-container:focus .mf-image-label, .elementor-2106 .elementor-element.elementor-element-442a .mf-input-calculation-total:focus {
    color: #000000;
}

.elementor-2106 .elementor-element.elementor-element-442a .mf-file-upload-container:focus .mf-input-file-upload-label svg path {
    stroke: #000000;
    fill: #000000;
}

.elementor-2106 .elementor-element.elementor-element-442a .mf-input-wrapper .input-range__slider:focus {
    border-color: #000000;
}

.elementor-2106 .elementor-element.elementor-element-442a .mf-input-calculation-total:focus, .elementor-2106 .elementor-element.elementor-element-442a .mf_select__menu-list .mf_select__option:focus, .elementor-2106 .elementor-element.elementor-element-442a .mf_multiselect__option:focus, .elementor-2106 .elementor-element.elementor-element-442a .mf_multiselect__multi-value:focus .mf_multiselect__multi-value__label, .elementor-2106 .elementor-element.elementor-element-442a .mf_multiselect__multi-value:focus .mf_multiselect__multi-value__remove, .elementor-2106 .elementor-element.elementor-element-442a .mf_multiselect__menu-notice--no-options:focus {
    color: #000000;
}

.elementor-2106 .elementor-element.elementor-element-442a .mf-file-upload-container .mf-input-file-upload-label, .elementor-2106 .elementor-element.elementor-element-442a .mf-input-wrapper .iti--separate-dial-code .iti__selected-flag, .elementor-2106 .elementor-element.elementor-element-442a .mf-input-calculation-total {
    border-radius: 0px;
}

.elementor-2106 .elementor-element.elementor-element-442a .mf-input-select>.mf_select__control, .elementor-2106 .elementor-element.elementor-element-442a .mf-input-select .mf_select__option, .elementor-2106 .elementor-element.elementor-element-442a .mf-input-multiselect .mf_multiselect__control, .elementor-2106 .elementor-element.elementor-element-442a .mf_multiselect__option, .elementor-2106 .elementor-element.elementor-element-442a .mf_multiselect__multi-value__label, .elementor-2106 .elementor-element.elementor-element-442a .mf_multiselect__multi-value__remove, .elementor-2106 .elementor-element.elementor-element-442a .mf_multiselect__menu-notice--no-options {
    border-radius: 0px;
}

.elementor-2106 .elementor-element.elementor-element-442a :is(.mf_select__placeholder, .mf_multiselect__placeholder, .text),
.elementor-2106 .elementor-element.elementor-element-442a .mf-input::placeholder,
.elementor-2106 .elementor-element.elementor-element-442a .mf-time-input::before {
    font-family: "Poppins", Sans-serif;
    font-size: 1rem;
    font-weight: 400;
}

.elementor-2106 .elementor-element.elementor-element-442a .mf-input:not([type="submit"]):not([type="checkbox"]):not([type="radio"])::-webkit-input-placeholder {
    color: #959595;
}

.elementor-2106 .elementor-element.elementor-element-442a .mf-input:not([type="submit"]):not([type="checkbox"]):not([type="radio"])::-moz-placeholder {
    color: #959595;
}

.elementor-2106 .elementor-element.elementor-element-442a .mf-input:not([type="submit"]):not([type="checkbox"]):not([type="radio"]):-ms-input-placeholder {
    color: #959595;
}

.elementor-2106 .elementor-element.elementor-element-442a .mf-input:not([type="submit"]):not([type="checkbox"]):not([type="radio"]):-moz-placeholder {
    color: #959595;
}

.elementor-2106 .elementor-element.elementor-element-442a .mf-time-input::before {
    color: #959595;
}

.elementor-2106 .elementor-element.elementor-element-442a .mf-input::-webkit-input-placeholder {
    color: #959595;
}

.elementor-2106 .elementor-element.elementor-element-442a .mf-input::-moz-placeholder {
    color: #959595;
}

.elementor-2106 .elementor-element.elementor-element-442a .mf-input:-ms-input-placeholder {
    color: #959595;
}

.elementor-2106 .elementor-element.elementor-element-442a .mf-input:-moz-placeholder {
    color: #959595;
}

.elementor-2106 .elementor-element.elementor-element-442a :is(.mf_select__placeholder, .mf_multiselect__placeholder) {
    color: #959595;
}

.elementor-2106 .elementor-element.elementor-element-442a>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
}

.elementor-2106 .elementor-element.elementor-element-2f64>.elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
}

.elementor-2106 .elementor-element.elementor-element-24f7 .mf-input {
    padding: 15px 25px 15px 25px;
    border-radius: 0px;
}

.elementor-2106 .elementor-element.elementor-element-24f7 .mf-input-file-upload-label {
    padding: 15px 25px 15px 25px;
}

.elementor-2106 .elementor-element.elementor-element-24f7 .mf-input-calculation-total {
    padding: 15px 25px 15px 25px;
}

.elementor-2106 .elementor-element.elementor-element-24f7 .mf_select__control, .elementor-2106 .elementor-element.elementor-element-24f7 .mf-input-select .mf_select__option, .elementor-2106 .elementor-element.elementor-element-24f7 .mf_multiselect__control .mf_multiselect__value-container, .elementor-2106 .elementor-element.elementor-element-24f7 .mf_multiselect__option, .elementor-2106 .elementor-element.elementor-element-24f7 .mf_multiselect__menu-notice--no-options {
    padding: 15px 25px 15px 25px;
}

.elementor-2106 .elementor-element.elementor-element-24f7 .mf-input-wrapper .range-slider {
    padding: 15px 25px 15px 25px;
}

.elementor-2106 .elementor-element.elementor-element-24f7 .mf-input, .elementor-2106 .elementor-element.elementor-element-24f7 .elementor-2106 .elementor-element.elementor-element-24f7 .mf-input-wrapper .iti--separate-dial-code .iti__selected-flag, .elementor-2106 .elementor-element.elementor-element-24f7 .mf-input-wrapper .iti--separate-dial-code .iti__selected-dial-code {
    color: #101010;
}

.elementor-2106 .elementor-element.elementor-element-24f7 .irs--round .irs-bar, .elementor-2106 .elementor-element.elementor-element-24f7 .irs--round .irs-from, .elementor-2106 .elementor-element.elementor-element-24f7 .irs--round .irs-to, .elementor-2106 .elementor-element.elementor-element-24f7 .irs--round .irs-single {
    background-color: #101010;
}

.elementor-2106 .elementor-element.elementor-element-24f7 .irs--round .irs-handle {
    border-color: #101010;
}

.elementor-2106 .elementor-element.elementor-element-24f7 .irs--round .irs-from:before, .elementor-2106 .elementor-element.elementor-element-24f7 .irs--round .irs-to:before, .elementor-2106 .elementor-element.elementor-element-24f7 .irs--round .irs-single:before {
    border-top-color: #101010;
}

.elementor-2106 .elementor-element.elementor-element-24f7 .mf_select__single-value {
    color: #101010;
}

.elementor-2106 .elementor-element.elementor-element-24f7 .mf-input-wrapper .input-range__slider {
    border-color: #101010;
}

.elementor-2106 .elementor-element.elementor-element-24f7 .mf-input-wrapper .input-range__track--active, .elementor-2106 .elementor-element.elementor-element-24f7 .mf-input-wrapper .input-range__label-container, .elementor-2106 .elementor-element.elementor-element-24f7 .mf-input-wrapper .input-range__label-container:before {
    background-color: #101010;
}

.elementor-2106 .elementor-element.elementor-element-24f7 .mf-input-wrapper .asRange .asRange-pointer .asRange-tip {
    background-color: #101010;
    border-color: #101010;
}

.elementor-2106 .elementor-element.elementor-element-24f7 .mf-input-file-upload-label, .elementor-2106 .elementor-element.elementor-element-24f7 .mf-input-calculation-total {
    color: #101010;
}

.elementor-2106 .elementor-element.elementor-element-24f7 .mf-input-file-upload-label svg path {
    stroke: #101010;
    fill: #101010;
}

.elementor-2106 .elementor-element.elementor-element-24f7 .mf-input-select .mf_select__option, .elementor-2106 .elementor-element.elementor-element-24f7 .mf_multiselect__multi-value__label, .elementor-2106 .elementor-element.elementor-element-24f7 .mf_multiselect__multi-value__remove, .elementor-2106 .elementor-element.elementor-element-24f7 .mf_multiselect__menu-notice--no-options {
    color: #101010;
}

.elementor-2106 .elementor-element.elementor-element-24f7 .mf-input, .elementor-2106 .elementor-element.elementor-element-24f7 .mf-input-file-upload-label, .elementor-2106 .elementor-element.elementor-element-24f7 .mf-input-wrapper .iti--separate-dial-code .iti__selected-flag, .elementor-2106 .elementor-element.elementor-element-24f7 .mf-input-calculation-total, .elementor-2106 .elementor-element.elementor-element-24f7 .mf-input-select .mf_select__option, .elementor-2106 .elementor-element.elementor-element-24f7 .mf_multiselect__multi-value__label, .elementor-2106 .elementor-element.elementor-element-24f7 .mf_multiselect__multi-value__remove, .elementor-2106 .elementor-element.elementor-element-24f7 .mf_multiselect__option, .elementor-2106 .elementor-element.elementor-element-24f7 .mf_multiselect__menu-notice--no-options, .elementor-2106 .elementor-element.elementor-element-24f7 .mf-input-multiselect .mf_multiselect__control {
    background-color: rgba(0, 0, 0, 0);
}

.elementor-2106 .elementor-element.elementor-element-24f7 .mf-input, .elementor-2106 .elementor-element.elementor-element-24f7 .mf-input-file-upload-label, .elementor-2106 .elementor-element.elementor-element-24f7 .mf-input-wrapper .iti--separate-dial-code .iti__selected-flag, .elementor-2106 .elementor-element.elementor-element-24f7 .mf-input-calculation-total, .elementor-2106 .elementor-element.elementor-element-24f7 .mf-input-select>.mf_select__control, .elementor-2106 .elementor-element.elementor-element-24f7 .mf-input-select .mf_select__option, .elementor-2106 .elementor-element.elementor-element-24f7 .mf-input-multiselect .mf_multiselect__control, .elementor-2106 .elementor-element.elementor-element-24f7 .mf_multiselect__option {
    border-style: solid;
    border-width: 2px 2px 2px 2px;
    border-color: rgba(200, 200, 200, 0.3);
}

.elementor-2106 .elementor-element.elementor-element-24f7 .mf-input:hover, .elementor-2106 .elementor-element.elementor-element-24f7 .mf-input-wrapper:hover .iti--separate-dial-code .iti__selected-flag, .elementor-2106 .elementor-element.elementor-element-24f7 .mf-input-wrapper:hover .iti--separate-dial-code .iti__selected-dial-code {
    color: #000000;
}

.elementor-2106 .elementor-element.elementor-element-24f7 .irs--round .irs-handle:hover {
    border-color: #000000;
}

.elementor-2106 .elementor-element.elementor-element-24f7 .mf-input-file-upload-label:hover {
    color: #000000;
}

.elementor-2106 .elementor-element.elementor-element-24f7 .mf-input:hover .mf_select__single-value {
    color: #000000;
}

.elementor-2106 .elementor-element.elementor-element-24f7 .mf-file-upload-container:hover .mf-input-file-upload-label svg path {
    stroke: #000000;
    fill: #000000;
}

.elementor-2106 .elementor-element.elementor-element-24f7 .mf-input-wrapper .input-range__slider:hover {
    border-color: #000000;
}

.elementor-2106 .elementor-element.elementor-element-24f7 .mf_select__menu-list .mf_select__option:hover, .elementor-2106 .elementor-element.elementor-element-24f7 .mf_multiselect__multi-value:hover .mf_multiselect__multi-value__label, .elementor-2106 .elementor-element.elementor-element-24f7 .mf_multiselect__multi-value:hover .mf_multiselect__multi-value__remove, .elementor-2106 .elementor-element.elementor-element-24f7 .mf_multiselect__menu-notice--no-options:hover {
    color: #000000;
}

.elementor-2106 .elementor-element.elementor-element-24f7 .mf-input:focus, .elementor-2106 .elementor-element.elementor-element-24f7 .mf-input-wrapper:focus .iti--separate-dial-code .iti__selected-flag, .elementor-2106 .elementor-element.elementor-element-24f7 .mf-input-wrapper:focus .iti--separate-dial-code .iti__selected-dial-code {
    color: #000000;
}

.elementor-2106 .elementor-element.elementor-element-24f7 .irs--round .irs-handle:focus {
    border-color: #000000;
}

.elementor-2106 .elementor-element.elementor-element-24f7 .mf-file-upload-container:focus .mf-input-file-upload-label, .elementor-2106 .elementor-element.elementor-element-24f7 .mf-file-upload-container:focus .mf-image-label, .elementor-2106 .elementor-element.elementor-element-24f7 .mf-input-calculation-total:focus {
    color: #000000;
}

.elementor-2106 .elementor-element.elementor-element-24f7 .mf-file-upload-container:focus .mf-input-file-upload-label svg path {
    stroke: #000000;
    fill: #000000;
}

.elementor-2106 .elementor-element.elementor-element-24f7 .mf-input-wrapper .input-range__slider:focus {
    border-color: #000000;
}

.elementor-2106 .elementor-element.elementor-element-24f7 .mf-input-calculation-total:focus, .elementor-2106 .elementor-element.elementor-element-24f7 .mf_select__menu-list .mf_select__option:focus, .elementor-2106 .elementor-element.elementor-element-24f7 .mf_multiselect__option:focus, .elementor-2106 .elementor-element.elementor-element-24f7 .mf_multiselect__multi-value:focus .mf_multiselect__multi-value__label, .elementor-2106 .elementor-element.elementor-element-24f7 .mf_multiselect__multi-value:focus .mf_multiselect__multi-value__remove, .elementor-2106 .elementor-element.elementor-element-24f7 .mf_multiselect__menu-notice--no-options:focus {
    color: #000000;
}

.elementor-2106 .elementor-element.elementor-element-24f7 .mf-input, .elementor-2106 .elementor-element.elementor-element-24f7 .irs--round .irs-single, .elementor-2106 .elementor-element.elementor-element-24f7 .asRange .asRange-pointer .asRange-tip, .elementor-2106 .elementor-element.elementor-element-24f7 .mf-file-upload-container .mf-input-file-upload-label, .elementor-2106 .elementor-element.elementor-element-24f7 .mf-input-wrapper .iti--separate-dial-code .iti__selected-flag, .elementor-2106 .elementor-element.elementor-element-24f7 .mf-input-calculation-total, .elementor-2106 .elementor-element.elementor-element-24f7 .mf-input-wrapper .input-range__label-container {
    font-family: "Helvetica", Sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 15px;
}

.elementor-2106 .elementor-element.elementor-element-24f7 .mf-file-upload-container .mf-input-file-upload-label, .elementor-2106 .elementor-element.elementor-element-24f7 .mf-input-wrapper .iti--separate-dial-code .iti__selected-flag, .elementor-2106 .elementor-element.elementor-element-24f7 .mf-input-calculation-total {
    border-radius: 0px;
}

.elementor-2106 .elementor-element.elementor-element-24f7 .mf-input-select>.mf_select__control, .elementor-2106 .elementor-element.elementor-element-24f7 .mf-input-select .mf_select__option, .elementor-2106 .elementor-element.elementor-element-24f7 .mf-input-multiselect .mf_multiselect__control, .elementor-2106 .elementor-element.elementor-element-24f7 .mf_multiselect__option, .elementor-2106 .elementor-element.elementor-element-24f7 .mf_multiselect__multi-value__label, .elementor-2106 .elementor-element.elementor-element-24f7 .mf_multiselect__multi-value__remove, .elementor-2106 .elementor-element.elementor-element-24f7 .mf_multiselect__menu-notice--no-options {
    border-radius: 0px;
}

.elementor-2106 .elementor-element.elementor-element-24f7 .mf-input, .elementor-2106 .elementor-element.elementor-element-24f7 .irs--round .irs-line, .elementor-2106 .elementor-element.elementor-element-24f7 .mf-input-switch label.mf-input-control-label:before, .elementor-2106 .elementor-element.elementor-element-24f7 .mf-input-wrapper .asRange, .elementor-2106 .elementor-element.elementor-element-24f7 .asRange .asRange-pointer:before, .elementor-2106 .elementor-element.elementor-element-24f7 .mf-file-upload-container .mf-input-file-upload-label, .elementor-2106 .elementor-element.elementor-element-24f7 .mf-input-wrapper .iti--separate-dial-code .iti__selected-flag, .elementor-2106 .elementor-element.elementor-element-24f7 .mf-input-calculation-total, .elementor-2106 .elementor-element.elementor-element-24f7 .mf-input-select>.mf_select__control, .elementor-2106 .elementor-element.elementor-element-24f7 .mf-input-select .mf_select__option, .elementor-2106 .elementor-element.elementor-element-24f7 .mf-input-multiselect .mf_multiselect__control, .elementor-2106 .elementor-element.elementor-element-24f7 .mf_multiselect__option, .elementor-2106 .elementor-element.elementor-element-24f7 .mf-input-wrapper .input-range__track--background {
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.05);
}

.elementor-2106 .elementor-element.elementor-element-24f7 :is(.mf_select__placeholder, .mf_multiselect__placeholder, .text),
.elementor-2106 .elementor-element.elementor-element-24f7 .mf-input::placeholder,
.elementor-2106 .elementor-element.elementor-element-24f7 .mf-time-input::before {
    font-family: "Poppins", Sans-serif;
    font-size: 1rem;
    font-weight: 400;
}

.elementor-2106 .elementor-element.elementor-element-24f7 .mf-input:not([type="submit"]):not([type="checkbox"]):not([type="radio"])::-webkit-input-placeholder {
    color: #959595;
}

.elementor-2106 .elementor-element.elementor-element-24f7 .mf-input:not([type="submit"]):not([type="checkbox"]):not([type="radio"])::-moz-placeholder {
    color: #959595;
}

.elementor-2106 .elementor-element.elementor-element-24f7 .mf-input:not([type="submit"]):not([type="checkbox"]):not([type="radio"]):-ms-input-placeholder {
    color: #959595;
}

.elementor-2106 .elementor-element.elementor-element-24f7 .mf-input:not([type="submit"]):not([type="checkbox"]):not([type="radio"]):-moz-placeholder {
    color: #959595;
}

.elementor-2106 .elementor-element.elementor-element-24f7 .mf-time-input::before {
    color: #959595;
}

.elementor-2106 .elementor-element.elementor-element-24f7 .mf-input::-webkit-input-placeholder {
    color: #959595;
}

.elementor-2106 .elementor-element.elementor-element-24f7 .mf-input::-moz-placeholder {
    color: #959595;
}

.elementor-2106 .elementor-element.elementor-element-24f7 .mf-input:-ms-input-placeholder {
    color: #959595;
}

.elementor-2106 .elementor-element.elementor-element-24f7 .mf-input:-moz-placeholder {
    color: #959595;
}

.elementor-2106 .elementor-element.elementor-element-24f7 :is(.mf_select__placeholder, .mf_multiselect__placeholder) {
    color: #959595;
}

.elementor-2106 .elementor-element.elementor-element-6fc>.elementor-column-wrap>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0px;
}

.elementor-2106 .elementor-element.elementor-element-6fc>.elementor-element-populated {
    margin: 7px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
}

.elementor-2106 .elementor-element.elementor-element-5dd0 .mf-textarea {
    height: 140px;
}

.elementor-2106 .elementor-element.elementor-element-5dd0 .mf-input {
    padding: 15px 25px 15px 25px;
    border-radius: 0px;
}

.elementor-2106 .elementor-element.elementor-element-5dd0 .mf-input-file-upload-label {
    padding: 15px 25px 15px 25px;
}

.elementor-2106 .elementor-element.elementor-element-5dd0 .mf-input-calculation-total {
    padding: 15px 25px 15px 25px;
}

.elementor-2106 .elementor-element.elementor-element-5dd0 .mf_select__control, .elementor-2106 .elementor-element.elementor-element-5dd0 .mf-input-select .mf_select__option, .elementor-2106 .elementor-element.elementor-element-5dd0 .mf_multiselect__control .mf_multiselect__value-container, .elementor-2106 .elementor-element.elementor-element-5dd0 .mf_multiselect__option, .elementor-2106 .elementor-element.elementor-element-5dd0 .mf_multiselect__menu-notice--no-options {
    padding: 15px 25px 15px 25px;
}

.elementor-2106 .elementor-element.elementor-element-5dd0 .mf-input-wrapper .range-slider {
    padding: 15px 25px 15px 25px;
}

.elementor-2106 .elementor-element.elementor-element-5dd0 .mf-input, .elementor-2106 .elementor-element.elementor-element-5dd0 .elementor-2106 .elementor-element.elementor-element-5dd0 .mf-input-wrapper .iti--separate-dial-code .iti__selected-flag, .elementor-2106 .elementor-element.elementor-element-5dd0 .mf-input-wrapper .iti--separate-dial-code .iti__selected-dial-code {
    color: #101010;
}

.elementor-2106 .elementor-element.elementor-element-5dd0 .irs--round .irs-bar, .elementor-2106 .elementor-element.elementor-element-5dd0 .irs--round .irs-from, .elementor-2106 .elementor-element.elementor-element-5dd0 .irs--round .irs-to, .elementor-2106 .elementor-element.elementor-element-5dd0 .irs--round .irs-single {
    background-color: #101010;
}

.elementor-2106 .elementor-element.elementor-element-5dd0 .irs--round .irs-handle {
    border-color: #101010;
}

.elementor-2106 .elementor-element.elementor-element-5dd0 .irs--round .irs-from:before, .elementor-2106 .elementor-element.elementor-element-5dd0 .irs--round .irs-to:before, .elementor-2106 .elementor-element.elementor-element-5dd0 .irs--round .irs-single:before {
    border-top-color: #101010;
}

.elementor-2106 .elementor-element.elementor-element-5dd0 .mf_select__single-value {
    color: #101010;
}

.elementor-2106 .elementor-element.elementor-element-5dd0 .mf-input-wrapper .input-range__slider {
    border-color: #101010;
}

.elementor-2106 .elementor-element.elementor-element-5dd0 .mf-input-wrapper .input-range__track--active, .elementor-2106 .elementor-element.elementor-element-5dd0 .mf-input-wrapper .input-range__label-container, .elementor-2106 .elementor-element.elementor-element-5dd0 .mf-input-wrapper .input-range__label-container:before {
    background-color: #101010;
}

.elementor-2106 .elementor-element.elementor-element-5dd0 .mf-input-wrapper .asRange .asRange-pointer .asRange-tip {
    background-color: #101010;
    border-color: #101010;
}

.elementor-2106 .elementor-element.elementor-element-5dd0 .mf-input-file-upload-label, .elementor-2106 .elementor-element.elementor-element-5dd0 .mf-input-calculation-total {
    color: #101010;
}

.elementor-2106 .elementor-element.elementor-element-5dd0 .mf-input-file-upload-label svg path {
    stroke: #101010;
    fill: #101010;
}

.elementor-2106 .elementor-element.elementor-element-5dd0 .mf-input-select .mf_select__option, .elementor-2106 .elementor-element.elementor-element-5dd0 .mf_multiselect__multi-value__label, .elementor-2106 .elementor-element.elementor-element-5dd0 .mf_multiselect__multi-value__remove, .elementor-2106 .elementor-element.elementor-element-5dd0 .mf_multiselect__menu-notice--no-options {
    color: #101010;
}

.elementor-2106 .elementor-element.elementor-element-5dd0 .mf-input, .elementor-2106 .elementor-element.elementor-element-5dd0 .mf-input-file-upload-label, .elementor-2106 .elementor-element.elementor-element-5dd0 .mf-input-wrapper .iti--separate-dial-code .iti__selected-flag, .elementor-2106 .elementor-element.elementor-element-5dd0 .mf-input-calculation-total, .elementor-2106 .elementor-element.elementor-element-5dd0 .mf-input-select .mf_select__option, .elementor-2106 .elementor-element.elementor-element-5dd0 .mf_multiselect__multi-value__label, .elementor-2106 .elementor-element.elementor-element-5dd0 .mf_multiselect__multi-value__remove, .elementor-2106 .elementor-element.elementor-element-5dd0 .mf_multiselect__option, .elementor-2106 .elementor-element.elementor-element-5dd0 .mf_multiselect__menu-notice--no-options, .elementor-2106 .elementor-element.elementor-element-5dd0 .mf-input-multiselect .mf_multiselect__control {
    background-color: rgba(0, 0, 0, 0);
}

.elementor-2106 .elementor-element.elementor-element-5dd0 .mf-input, .elementor-2106 .elementor-element.elementor-element-5dd0 .mf-input-file-upload-label, .elementor-2106 .elementor-element.elementor-element-5dd0 .mf-input-wrapper .iti--separate-dial-code .iti__selected-flag, .elementor-2106 .elementor-element.elementor-element-5dd0 .mf-input-calculation-total, .elementor-2106 .elementor-element.elementor-element-5dd0 .mf-input-select>.mf_select__control, .elementor-2106 .elementor-element.elementor-element-5dd0 .mf-input-select .mf_select__option, .elementor-2106 .elementor-element.elementor-element-5dd0 .mf-input-multiselect .mf_multiselect__control, .elementor-2106 .elementor-element.elementor-element-5dd0 .mf_multiselect__option {
    border-style: solid;
    border-width: 2px 2px 2px 2px;
    border-color: rgba(200, 200, 200, 0.3);
}

.elementor-2106 .elementor-element.elementor-element-5dd0 .mf-input:hover, .elementor-2106 .elementor-element.elementor-element-5dd0 .mf-input-wrapper:hover .iti--separate-dial-code .iti__selected-flag, .elementor-2106 .elementor-element.elementor-element-5dd0 .mf-input-wrapper:hover .iti--separate-dial-code .iti__selected-dial-code {
    color: #000000;
}

.elementor-2106 .elementor-element.elementor-element-5dd0 .irs--round .irs-handle:hover {
    border-color: #000000;
}

.elementor-2106 .elementor-element.elementor-element-5dd0 .mf-input-file-upload-label:hover {
    color: #000000;
}

.elementor-2106 .elementor-element.elementor-element-5dd0 .mf-input:hover .mf_select__single-value {
    color: #000000;
}

.elementor-2106 .elementor-element.elementor-element-5dd0 .mf-file-upload-container:hover .mf-input-file-upload-label svg path {
    stroke: #000000;
    fill: #000000;
}

.elementor-2106 .elementor-element.elementor-element-5dd0 .mf-input-wrapper .input-range__slider:hover {
    border-color: #000000;
}

.elementor-2106 .elementor-element.elementor-element-5dd0 .mf_select__menu-list .mf_select__option:hover, .elementor-2106 .elementor-element.elementor-element-5dd0 .mf_multiselect__multi-value:hover .mf_multiselect__multi-value__label, .elementor-2106 .elementor-element.elementor-element-5dd0 .mf_multiselect__multi-value:hover .mf_multiselect__multi-value__remove, .elementor-2106 .elementor-element.elementor-element-5dd0 .mf_multiselect__menu-notice--no-options:hover {
    color: #000000;
}

.elementor-2106 .elementor-element.elementor-element-5dd0 .mf-input:focus, .elementor-2106 .elementor-element.elementor-element-5dd0 .mf-input-wrapper:focus .iti--separate-dial-code .iti__selected-flag, .elementor-2106 .elementor-element.elementor-element-5dd0 .mf-input-wrapper:focus .iti--separate-dial-code .iti__selected-dial-code {
    color: #000000;
}

.elementor-2106 .elementor-element.elementor-element-5dd0 .irs--round .irs-handle:focus {
    border-color: #000000;
}

.elementor-2106 .elementor-element.elementor-element-5dd0 .mf-file-upload-container:focus .mf-input-file-upload-label, .elementor-2106 .elementor-element.elementor-element-5dd0 .mf-file-upload-container:focus .mf-image-label, .elementor-2106 .elementor-element.elementor-element-5dd0 .mf-input-calculation-total:focus {
    color: #000000;
}

.elementor-2106 .elementor-element.elementor-element-5dd0 .mf-file-upload-container:focus .mf-input-file-upload-label svg path {
    stroke: #000000;
    fill: #000000;
}

.elementor-2106 .elementor-element.elementor-element-5dd0 .mf-input-wrapper .input-range__slider:focus {
    border-color: #000000;
}

.elementor-2106 .elementor-element.elementor-element-5dd0 .mf-input-calculation-total:focus, .elementor-2106 .elementor-element.elementor-element-5dd0 .mf_select__menu-list .mf_select__option:focus, .elementor-2106 .elementor-element.elementor-element-5dd0 .mf_multiselect__option:focus, .elementor-2106 .elementor-element.elementor-element-5dd0 .mf_multiselect__multi-value:focus .mf_multiselect__multi-value__label, .elementor-2106 .elementor-element.elementor-element-5dd0 .mf_multiselect__multi-value:focus .mf_multiselect__multi-value__remove, .elementor-2106 .elementor-element.elementor-element-5dd0 .mf_multiselect__menu-notice--no-options:focus {
    color: #000000;
}

.elementor-2106 .elementor-element.elementor-element-5dd0 .mf-input, .elementor-2106 .elementor-element.elementor-element-5dd0 .irs--round .irs-single, .elementor-2106 .elementor-element.elementor-element-5dd0 .asRange .asRange-pointer .asRange-tip, .elementor-2106 .elementor-element.elementor-element-5dd0 .mf-file-upload-container .mf-input-file-upload-label, .elementor-2106 .elementor-element.elementor-element-5dd0 .mf-input-wrapper .iti--separate-dial-code .iti__selected-flag, .elementor-2106 .elementor-element.elementor-element-5dd0 .mf-input-calculation-total, .elementor-2106 .elementor-element.elementor-element-5dd0 .mf-input-wrapper .input-range__label-container {
    font-family: "Helvetica", Sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 15px;
}

.elementor-2106 .elementor-element.elementor-element-5dd0 .mf-file-upload-container .mf-input-file-upload-label, .elementor-2106 .elementor-element.elementor-element-5dd0 .mf-input-wrapper .iti--separate-dial-code .iti__selected-flag, .elementor-2106 .elementor-element.elementor-element-5dd0 .mf-input-calculation-total {
    border-radius: 0px;
}

.elementor-2106 .elementor-element.elementor-element-5dd0 .mf-input-select>.mf_select__control, .elementor-2106 .elementor-element.elementor-element-5dd0 .mf-input-select .mf_select__option, .elementor-2106 .elementor-element.elementor-element-5dd0 .mf-input-multiselect .mf_multiselect__control, .elementor-2106 .elementor-element.elementor-element-5dd0 .mf_multiselect__option, .elementor-2106 .elementor-element.elementor-element-5dd0 .mf_multiselect__multi-value__label, .elementor-2106 .elementor-element.elementor-element-5dd0 .mf_multiselect__multi-value__remove, .elementor-2106 .elementor-element.elementor-element-5dd0 .mf_multiselect__menu-notice--no-options {
    border-radius: 0px;
}

.elementor-2106 .elementor-element.elementor-element-5dd0 :is(.mf_select__placeholder, .mf_multiselect__placeholder, .text),
.elementor-2106 .elementor-element.elementor-element-5dd0 .mf-input::placeholder,
.elementor-2106 .elementor-element.elementor-element-5dd0 .mf-time-input::before {
    font-family: "Poppins", Sans-serif;
    font-size: 1rem;
    font-weight: 400;
}

.elementor-2106 .elementor-element.elementor-element-5dd0 .mf-input:not([type="submit"]):not([type="checkbox"]):not([type="radio"])::-webkit-input-placeholder {
    color: #959595;
}

.elementor-2106 .elementor-element.elementor-element-5dd0 .mf-input:not([type="submit"]):not([type="checkbox"]):not([type="radio"])::-moz-placeholder {
    color: #959595;
}

.elementor-2106 .elementor-element.elementor-element-5dd0 .mf-input:not([type="submit"]):not([type="checkbox"]):not([type="radio"]):-ms-input-placeholder {
    color: #959595;
}

.elementor-2106 .elementor-element.elementor-element-5dd0 .mf-input:not([type="submit"]):not([type="checkbox"]):not([type="radio"]):-moz-placeholder {
    color: #959595;
}

.elementor-2106 .elementor-element.elementor-element-5dd0 .mf-time-input::before {
    color: #959595;
}

.elementor-2106 .elementor-element.elementor-element-5dd0 .mf-input::-webkit-input-placeholder {
    color: #959595;
}

.elementor-2106 .elementor-element.elementor-element-5dd0 .mf-input::-moz-placeholder {
    color: #959595;
}

.elementor-2106 .elementor-element.elementor-element-5dd0 .mf-input:-ms-input-placeholder {
    color: #959595;
}

.elementor-2106 .elementor-element.elementor-element-5dd0 .mf-input:-moz-placeholder {
    color: #959595;
}

.elementor-2106 .elementor-element.elementor-element-5dd0 :is(.mf_select__placeholder, .mf_multiselect__placeholder) {
    color: #959595;
}

.elementor-2106 .elementor-element.elementor-element-30ce .mf-btn-wraper {
    text-align: left;
}

.elementor-2106 .elementor-element.elementor-element-30ce .metform-btn:hover {
    background-color: #2CC391;
}

.elementor-2106 .elementor-element.elementor-element-30ce .metform-btn {
    border-style: none;
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.1);
}

.elementor-2106 .elementor-element.elementor-element-30ce>.elementor-widget-container {
    margin: 28px 0px 0px 0px;
}

@media(max-width:1024px) {
    .elementor-2106 .elementor-element.elementor-element-30ce .mf-btn-wraper {
        text-align: left;
    }
}

@media(max-width:767px) {
    .elementor-2106 .elementor-element.elementor-element-30ce .mf-btn-wraper {
        text-align: center;
    }
}